.y{

  color: white;
  font-size: 16px;
}

.x{

  color: white;
  font-size: 26px;
  text-shadow: 1px 1px 2px white, 0 0 15px white;
}

.fading{
  animation: fadeIn linear 2s;
}



@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@media screen and (max-width: 720px) {
  .x{
    font-size: 22px;
  }
}
