.bgblack{
  background: black;
  width: 100%;
}

.modal_head{
  text-align: center;

  font-size: 30px;
  font-weight: bold;
}

.l {

  font-size: 24px;
  font-weight: bold;
}

.tesla{
  left-margin: 10%;
}

.cont {
  font-size: 10px;

}


option {

  font-size: 18px;
  font-weight: bold;
  color: rgb(128,128,128);
}
