.bgblack{
  background: black;
  width: 100%;
}

.modal_head{
  text-align: center;

  font-size: 30px;
  font-weight: bold;
}

.l {

  font-size: 22px;
  font-weight: 500;
}

.tesla{
  left-margin: 5%;
}

.cont {
 float: right;
}


option {

  font-size: 18px;
  font-weight: 400;
  color: rgb(128,128,128);
}
