.home{
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-color: black;
  padding-right: 20px;
  padding-bottom: 0;
}

.position-sticky{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
