.sidebar{
  width: 95%;
  margin-left: 5%;
}

.heading{
  color: white;
  font-size: 24px;
  margin-top: 10%;
  margin-left: 5%;
  letter-spacing: 1px;
}

.nav {
  margin-top: 10%;
}

.names{
  font-size: 16px;
}

.box{
  width: 100%;
  border-bottom: 2px solid white;
  padding-bottom: 8px;
  transition: transform .2s;
}

.h{
  transition: .5s;
}

.h:hover{
  color: white;
  cursor: pointer;
}



.box_{
  width: 100%;

}



.price{
  float: right;
  color: white;
  font-size: 18px;
}

.price_d{
  float: right;
  color: rgb(128, 128, 128);
  font-size: 16px;
}


.a{
  margin-top: 10%;
}

.b{
  color: white;
  font-size: 18px;
}

.self_d{
  color: rgb(128, 128, 128);
  font-size: 14px;

}

.self_d:hover{
  cursor: pointer;
  color: white;
}

.c{
  color: rgb(128,128,128);
  text-align: justify;
  font-size: 14px;
  font-weight: 500;
}

.e{

  color: white;
  font-size: 22px;
  align-items: center;
}

.box_1{
  width: 90%;
  border: 4px solid white;
  text-align: center;
}

.box_1:hover{
  display: block;
  background: rgb(128, 128, 128);
}
.hide_ {
  display : none;
}

.darker_name {
  color: rgb(128,128,128);
  font-size: 14px;
}

.lighter_name{
  color: white;
  font-size: 14px;
}

.darker_price{
  color: rgb(128,128,128);
  float: right;
  font-size: 16px;
}

.lighter_price{
  float: right;
  color: white;
  font-size: 16px;

}

._marg{
  margin-top: 10px;
}
