@font-face{
  font-family: 'iCielMedium';
  src: local('iCielMedium'), url('./fonts/iCiel-Medium.ttf') format("truetype");
  font-width: normal;
}

body {
  margin: 0;
  font-family: iCielMedium ,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
